body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    margin-top: -42px;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    background-size: 100rem;
    
}

#pos{
display: block;
  margin-left: auto;
  margin-right: 60px;
 
}

#header{
    display: block;
    text-align: center;
}
.half-width{
    width:40%;
    float: left;
    margin-left: 49px;
    padding-left: 2%;
}
.main{
    width: 50%;
}

h1{
    font-size: 50px;
}
h1 span{
    color: orange;
}
.half-width img{
    width: 100%;
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}



p{
    color: dimgray;
    padding-right: 35px;
    
}






.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    
}
h2{
    font-size: 40px;
}

.common{
    display: flex;
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.experience-area h3{
    color: orange;
}

.experience-area{
    height: 100%;
}

.common div{
    box-shadow: 5px 7px 40px gray;
    height: 500px;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
    margin-left: 109px;
    border-radius: 10px;

    
}


.haalf{
    width:40%;
    float: left;
    margin-left: 49px;
    padding-left: 2%;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    border-radius: 10px;
    margin-left: 109px;


   
  
}

footer{
    background: cyan;
    padding: 30px 0;
   
}
footer p{
    text-align: center;
    margin-top: 0;
    font-weight: bolder;
}

/* ----------------------------------------------------------------------- */

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }

    img{
        width: 100px;
        height: 400px;
        padding: auto;
        margin: 42px 0;
    }

     h1 span{
         display: block;
        text-align: center;
        font-size: 40px;
        width: 100%;
        margin: 0 auto;
             }
        h1,h2,h3,p{
            display: block;
            text-align: center;
            
        }



  h2{
      display: block;
      /* font-size: medium; */
      margin-left: 0;
  }

  a{
      margin-bottom: 10px;
      display: block;
      width: 50%;
      margin: 0 auto;
      text-align: center;
      align-items: center;
  }

  .half-width{
      width: 80%;
      margin-bottom: 50px;
      margin: 25px 50px;

  }

  .haalf{
    width: 80%;
    margin-bottom: 50px;
    margin: 25px 50px;
    
    overflow:scroll;

}


  #full-stack{
      width: 100%;
      margin-left: 0;
    
  }





#baby-web{
    width: 100%;
    margin-left: 0;
}


  .contain{
      display: flex;
      flex-direction:column;

  }

  .a{
    order: 2;
    
  }
  #b{
      order: 1;
  }


  #pic2{
      margin-top: 580px;

  }



}

/* ----------------------------------------------------------------------------------------- */

@media only screen and (max-width: 441px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }

    img{
        width: 100px;
        height: 400px;
        padding: auto;
        margin: 42px 0;
    }

     h1 span{
         display: block;
        text-align: center;
        font-size: 40px;
        width: 100%;
        margin: 0 auto;
  }
  h1,h2,h3,p{
      display: block;
      text-align: center;     
  }
  h2{
      display: block;
      /* font-size: medium; */
      margin-left: 0;
  }
  a{
      margin-bottom: 10px;
      display: block;
      width: 50%;
      margin: 0 auto;
      text-align: center;
      align-items: center;
  }

  .half-width{
      width: 80%;
      margin-bottom: 50px;
      margin: 50px 50px;
      
        
    }


 
  

  #full-stack{
      width: 100%;
      margin-left: 0;

      background-color:#eee;
    width: 300px;
    height: 100px;
    border: 1px dotted black;
    overflow: scroll;
    margin-top: 20;
      
  }
  .haalf{
      
      overflow:scroll;
  }

 

  /* p,h2,h3{
    width: 11em; 
    border: 1px solid #000000;
    word-wrap: break-word
    font-size: 2px;
    
 } */



#baby-web{
    width: 100%;
    margin-left: 0;
}


  .contain{
      display: flex;
      flex-direction:column;

  }

  .a{
    order: 2;
    
  }
  #b{
      order: 1;
  }


  #pic2{
      margin-top: 760px;

  }


  .dream-area{
  background-size: 70px;
    
}

.anchor-button{
    width: 20%;
    margin: 0;
}

#btn{
    width: 50%;
}

#credit{
    
    margin-top: 188px;

}

#build{
    margin-left: 0;
}



}





@media only screen and (max-width: 895px) {
    .haalf{
      
        overflow:scroll;
    }

}


